.alpha1 {
  display: grid;
  align-self: flex-start;
  text-align: center;
  width: auto;
}

.name1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.role1 {
  text-transform: capitalize;
  margin: 0;
  color: grey;
}

.mod {
  transform: scale(0.75);
}
